/* Navbar General Styles */
.navbar {
  background-color: rgba(14, 46, 78, 0.9); /* Transparent dark slate color */
  padding: 5px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-family:Georgia, 'Times New Roman', Times, serif
}

.navbar-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  max-width: 1200px;
  
  margin: 0; /* Removed margins from left and right */
  padding: 0 20px; /* Added padding for spacing */
}

.logo img {
  height: 50px; /* Adjust the logo height as needed */
  mix-blend-mode:overlay;
  width: 150px;
  padding: 0px 0px;
  border-radius: 5px;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-right: 300px;
  
}

.nav-links li {
  display: inline-block;
  width: 100px;
  margin-left: 30px;
  
}

.nav-links li a {
  color: #ecf0f1; /* Light color for contrast */
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f1c40f; /* Yellow hover effect */
}

.nav-buttons {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  
}

.nav-buttons a{
  text-decoration: none;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 16px;
}

.action-btn {
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent; /* Transparent background */
  color: #f39c12; /* Button text color */
  border: 2px solid #f39c12; /* Border color to enhance visibility */
  width: 150px; /* Uniform button width */
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.action-btn1{
  padding: 15px 0px;
}

/* Button Hover Effect */
.action-btn:hover {
  background-color: #f39c12; /* Button background on hover */
  color: #fff; /* Change text color on hover */
  transform: scale(1.05); /* Scale effect on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide links on small screens */
  }

  .nav-buttons {
    flex-direction: column;
    gap: 10px;
  }
}
