
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VenueCard.css */
.venue-card {
  width: 80vw;
  height: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 20px;
  margin: 0; /* No margin for full-screen effect */
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.venue-header {
  text-align: center;
  margin-bottom: 15px;
}

.location {
  font-style: italic;
  color: #555;
}

.venue-images {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 15px;
}

.venue-images img {
  width: calc(28% - 10px);
  height: auto;
  border-radius: 5px;
}

.venue-details {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.details-section, .pricing-section, .reviews-section {
  flex: 1;
  margin: 30px;
  background-color: #f7f7f7;
  padding: 35px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.detail-category {
  margin-bottom: 10px;
}

.detail-category h4 {
  margin: 0;
}

.review{
  margin-top: 20px;
  margin-bottom: 20px;
}

.venue-actions {
  display: flex;
  justify-content:space-evenly;
  margin: 15px 0;
}

.btn {
  width: 400px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.request-quote {
  background-color: #007bff;
}

.request-quote:hover {
  background-color: #0056b3;
}

.schedule-visit {
  background-color: #28a745;
}

.schedule-visit:hover {
  background-color: #218838;
}

.availability-form {
  margin-top: 15px;
  text-align: center;
}

.availability-form input {
  padding: 8px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
}

.availability-form button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  width: 400px;
}

.availability-message {
  margin-top: 10px;
  color: green;
}
